@import "tailwindcss";

@font-face {
  font-family: "Geist Mono";
  src: url("/fonts/geistmono_variable_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

:root {
  /* Spacing - only 2 sizes */
  --space-small: 2rem;
  --space-large: 4rem;

  /* Typography */
  --font-family: "Geist Mono", monospace;

  /* Colors */
  --color-background: black;
  --color-text: white;
  --color-text-muted: #999;
  --color-text-subtle: #666;
  --color-border: white;
}

@theme {
  --font-*: initial;
  --font-display: "Geist Mono", monospace;
}

#chat-input {
  caret-color: transparent;
  position: relative;
}

#chat-input::after {
  content: "";
  display: inline-block;
  width: 1em;
  height: 2em;
  background: rgba(0, 0, 0, 1);
  /* animation: blink 1s step-end infinite; */
}

@keyframes blink {
  from,
  to {
    background-color: transparent;
  }
  50% {
    background-color: rgba(0, 0, 0, 1);
  }
}
